<form [formGroup]="form" (ngSubmit)="save()">
  <h1 mat-dialog-title>Category</h1>
  <div mat-dialog-content class="form">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Budget</mat-label>
      <input matInput type="number" placeholder="Budget" formControlName="budget">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="endDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Cancel</button>
    <button mat-button>Save</button>
  </div>
</form>
