<button mat-button (click)="openAddTransactionDialog(checkbook)">Add Transaction</button>
<button mat-raised-button color="primary" (click)="prevMonth()">Previous</button>
<button mat-raised-button color="primary" (click)="currentMonth()">{{ month | date:'y - MMMM' }}</button>
<button mat-raised-button color="primary" (click)="nextMonth()">Next</button>

<div class="grid">
  <app-transaction-list [actions]="listActions" [transactions]="transactions"></app-transaction-list>
  <app-transaction-graph [transactions]="transactions"></app-transaction-graph>
</div>
